<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>SALUD</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>MAPA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>RETOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recommendations">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>CONSEJOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>PROGRESO</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>